*~
*.pc
.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
.autom4te.cache
autotool
check-gfc-main-loop
check-gfc-reader
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gfc-demo
install-sh
*.la
libtool
*.lo
ltmain.sh
missing
*.o
